@font-face {
    font-family: 'Galano Grotesque';
    src: url('../../assets/font/GalanoGrotesque-Bold.woff2') format('woff2'),
        url('../../assets/font/GalanoGrotesque-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Galano Grotesque';
    src: url('../../assets/font/GalanoGrotesque-Regular.woff2') format('woff2'),
        url('../../assets/font/GalanoGrotesque-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Galano Grotesque';
    src: url('../../assets/font/GalanoGrotesque-Medium.woff2') format('woff2'),
        url('../../assets/font/GalanoGrotesque-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Galano Grotesque';
    src: url('../../assets/font/GalanoGrotesque-SemiBold.woff2') format('woff2'),
        url('../../assets/font/GalanoGrotesque-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'Galano Grotesque';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    overflow-x: hidden;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}
a{
    text-decoration: none;
}

.category-section{
    width: 100%;
    margin: 20px -10px;
    padding: 0;
    display: none;
}
.category-section .category-item{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    text-align: center;
}
.category-section .category-item .category-box{
    width: 22%;
    flex: 0 0 auto;
}
.category-section .category-item .category-box a{
    color: black;
    font-size: 11px;
    display: block;
}
.category-section .category-item .category-box img{
    width: 60px;
    height: 60px;
    border: 1px solid #bc1888;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 10px;
}
/* home banner */
.home-section{
    margin-top: 30px;
}
.home-section .homr-slider{
    position: relative;
}
.swiper.home-slider .swiper-button-next{
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    width: 28px;
    height: 28px;
    right: -50px;
    opacity: 0;
    background: url(../images/nav.png);
    transition: all .3s ease;
    transform: rotate(180deg);
}
.swiper.home-slider:hover .swiper-button-next{
    right: 3px;
    opacity: 1;
}
.swiper.home-slider .swiper-button-next::after{
    display: none;
}
.swiper.home-slider .swiper-button-prev{
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    width: 28px;
    height: 28px;
    left: -50px;
    opacity: 1;
    background: url(../images/nav.png);
    transition: all .3s ease;
}
.swiper.home-slider:hover .swiper-button-prev{
    left: 3px;
    opacity: 1;
}
.swiper.home-slider .swiper-button-prev::after{
    display: none;
}

.best-sellers-section{
    margin: 30px 0;
}
.best-sellers-section .best-title h2{
    font-size: 15px;
    font-weight: 500;
    color: #000;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.best-sellers-section .best-item{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 30px;
}
.best-sellers-section .best-item .best-box{
    position: relative;
}
.best-sellers-section .best-item .best-box .product-lebal{
    position: absolute;
    top: 0;
    left: 0;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    z-index: 1;
}
.best-sellers-section .best-item .best-box .box-images{
    position: relative;
    width: 100%;
    display: block;
}
.best-sellers-section .best-item .best-box .box-images .best-badge{
    position: absolute;
    top: 10px;
    right: 10px;
    background: #fff;
    color: #000;
    font-size: 8px;
    padding: 0 6px;
    height: 20px;
    text-align: center;
    border-radius: 2px;
    display: flex;
    align-items: center;
}
.best-sellers-section .best-item .best-box .box-images img{
    width: 100%;
    border-radius: 14px 14px 0px 14px;
}

/* Responvice */
@media (max-width: 786px){
    .category-section{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 991px) {
    section {
        padding: 3rem 15px;
    }
}

