@font-face {
    font-family: 'Galano Grotesque';
    src: url('../../assets/font/GalanoGrotesque-Bold.woff2') format('woff2'),
        url('../../assets/font/GalanoGrotesque-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Galano Grotesque';
    src: url('../../assets/font/GalanoGrotesque-Regular.woff2') format('woff2'),
        url('../../assets/font/GalanoGrotesque-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Galano Grotesque';
    src: url('../../assets/font/GalanoGrotesque-Medium.woff2') format('woff2'),
        url('../../assets/font/GalanoGrotesque-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Galano Grotesque';
    src: url('../../assets/font/GalanoGrotesque-SemiBold.woff2') format('woff2'),
        url('../../assets/font/GalanoGrotesque-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'Galano Grotesque';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    overflow-x: hidden;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
}
a{
    text-decoration: none;
}

.category-section{
    width: 100%;
    margin: 20px -10px;
    padding: 0;
    display: none;
}
.category-section .category-item{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    text-align: center;
}
.category-section .category-item .category-box{
    width: 22%;
    flex: 0 0 auto;
}
.category-section .category-item .category-box a{
    color: black;
    font-size: 11px;
    display: block;
}
.category-section .category-item .category-box img{
    width: 60px;
    height: 60px;
    border: 1px solid #bc1888;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 10px;
}
/* home banner */
.home-section{
    margin-top: 30px;
}
.home-section .homr-slider{
    position: relative;
}
.swiper.home-slider .swiper-button-next{
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    width: 28px;
    height: 28px;
    right: -50px;
    opacity: 0;
    background: url(../images/nav.png);
    transition: all .3s ease;
    transform: rotate(180deg);
}
.swiper.home-slider:hover .swiper-button-next{
    right: 3px;
    opacity: 1;
}
.swiper.home-slider .swiper-button-next::after{
    display: none;
}
.swiper.home-slider .swiper-button-prev{
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    width: 28px;
    height: 28px;
    left: -50px;
    opacity: 1;
    background: url(../images/nav.png);
    transition: all .3s ease;
}
.swiper.home-slider:hover .swiper-button-prev{
    left: 3px;
    opacity: 1;
}
.swiper.home-slider .swiper-button-prev::after{
    display: none;
}

.best-sellers-section{
    margin: 30px 0;
}
.best-sellers-section .best-title h2{
    font-size: 15px;
    font-weight: 500;
    color: #000;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.best-sellers-section .best-item{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 30px;
}
.best-sellers-section .best-item .best-box{
    position: relative;
}
.best-sellers-section .best-item .best-box .product-lebal{
    position: absolute;
    top: 0;
    left: 0;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    z-index: 1;
}
.best-sellers-section .best-item .best-box .box-images{
    position: relative;
    width: 100%;
    display: block;
}
.best-sellers-section .best-item .best-box .box-images .best-badge{
    position: absolute;
    top: 10px;
    right: 10px;
    background: #fff;
    color: #000;
    font-size: 8px;
    padding: 0 6px;
    height: 20px;
    text-align: center;
    border-radius: 2px;
    display: flex;
    align-items: center;
}
.best-sellers-section .best-item .best-box .box-images img{
    width: 100%;
    border-radius: 14px 14px 0px 14px;
}


/* new add */


/* explore-prduoucts-section  */

.explore-prduoucts-section {
    margin: 45px 0px;
}

.explore-prduoucts-section .container {
    display: flex;
}


.explore-prduoucts-section .contant-1 {
    max-width: 585px;
    width: 100%;
    border-top-left-radius: 40px;
    height: 315px;
    height: 100%;
}

.explore-prduoucts-section .contant-1 img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.explore-prduoucts-section .contant-2 {
    max-width: 584px;
    width: 100%;
    background-color: #f8f8f8;
    padding: 30px 100px;
    max-height: auto;
    height: 100%;
    border-bottom-right-radius: 40px;
}

.explore-prduoucts-section .contant-2 p {
    color: #000;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
}

.explore-prduoucts-section .contant-2 h5 {
    color: rgb(19, 19, 21);
    /* color: #000; */
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.explore-prduoucts-section .contant-2 .p-1 {
    font-size: 12px;
    color: #000;
    font-size: 50;
    line-height: 19px;
}

.explore-prduoucts-section .contant-2 button {
    font-size: 12px;
    fill: #fff;
    color: #fff;
    background-color: #000;
    border-radius: 25px;
    padding: 8px 24px;
    font-size: 500;
    margin-top: 20px;
}


.explore-prduoucts-section .contant-2 span {
    padding-left: 15px;
    font-size: 15px;
    font-weight: 600;
}

/* why-us-section  */

.why-us-section .container {
    display: flex;
    padding: 30px;
    align-items: center;
}

.why-us-section .container .text {
    font-size: 16px;
    margin-left: 15px;
    font-weight: 600;
    max-width: 95px;
    width: 100%;
}

.why-us-section .container .detail-box {
    display: flex;
    max-width: 480px;
    width: 100%;
}

.why-us-section .box {
    max-width: 220px;
    width: 100%;
    display: block;
    text-align: center;
    padding-top: 50px;
    margin: 0px 10px;
}

.why-us-section .contant-1 {
    margin-top: -46px;
    padding-bottom: 30px;
    opacity: 0.9;

}

.why-us-section .contant-1 .img {
    background: url(../images/Polygon-4.png);
    background-repeat: no-repeat;
    height: 85px;
    background-position: center;
    display: flex;
    justify-content: center;
    background-size: contain;
    align-items: center;

}

.why-us-section .contant-1 .img img {
    height: 40px;
    width: 40px;

}

.why-us-section .contant-2 {
    margin-top: -73px;
    padding: 50px 0px 10px 0px;
    background-color: #f1ecec;
    border-radius: 14px;
    height: 150px !important;
}

.why-us-section .box .contant-2 h4 {
    font-size: 14px;
    color: #131315;
    line-height: 22px;
    font-weight: 600;
    margin: 10px 0px;
}

.why-us-section .box .contant-2 p {
    font-size: 12px;
    line-height: 19px;
    font-weight: 500;
}


/* Responvice */
@media (max-width: 786px){
    .category-section{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 991px) {
    section {
        padding: 3rem 15px;
    }
}



/* new add */

/* Responvice */

@media (max-width:1024px) {
    .explore-prduoucts-section .container {
        display: block;
    }

    .explore-prduoucts-section .contant-1 {
        max-width: 1000px;
        width: 100%;
        border-radius: 0;
    }


    .explore-prduoucts-section .contant-2 {
        height: auto;
        max-width: 1000px;
        width: 100%;
        border-radius: 0;
        padding: 30px 15px;
    }

    /* why-us-section  */

    .why-us-section .box {
        max-width: 180px;
        width: 100%;
    }

    .why-us-section .container .text {
        padding: 0px 12px;
    }

    .why-us-section .box .contant-2 h4 {
        font-size: 12px;
    }

    .why-us-section .box .contant-2 p {
        font-size: 11px;
    }

    .why-us-section .container .text {
        max-width: 95px;
        width: 100%;
    }

    .profile .swiper-slide .item-box-1 {
        max-width: 80%;
    }

}

@media (max-width:850px) {
    .why-us-section .contant-1 .img {
        background-size: 60px;
    }

    .why-us-section .contant-1 .img img {
        height: 30px;
        width: 30px;
    }

    .why-us-section .box .contant-2 p {
        font-size: 10px;
    }

    .why-us-section .box .contant-2 h4 {
        font-size: 10px;
        margin: 0;
    }
}

@media (max-width:767px) {

    .why-us-section .container .text {
        max-width: 100%;
        width: 100%;
        text-align: center;
    }

    .why-us-section .container {
        display: block;
    }

    .why-us-section .container .detail-box {
        margin-top: 25px;
        max-width: 100%;
    }

    .why-us-section .box {
        max-width: 50%;
        width: 100%;
    }

    .why-us-section .contant-1 .img {
        background-size: contain;
    }
}
